# dependencies
/node_modules
/.pnp
.pnp.js

# Vercel
.vercel/

uploads/
downloads/

# testing
/coverage

# next.js
/.next/
/out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# public
/public/*
!/public/favicon.ico

# misc
.DS_Store
*.pem
