@use "../../styles/variables.scss" as v;
@use "sass:color";

.info {
  margin: 1rem 0 2rem;
  border: 1px solid v.$color-border;
  border-radius: v.$border-radius;
  padding: 0.5rem;
  background: v.$color-bg-light;
  font-size: 0.875rem;

  summary {
    cursor: pointer;
    padding: 0.5rem;
    font-weight: 600;
    user-select: none;
    color: v.$color-text-light;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    &:hover {
      color: v.$color-primary;

      .summaryTitle {
        color: v.$color-primary;
      }
    }

    .summaryTitle {
      margin: 0;
      font-size: 1.25rem;
      color: v.$color-text;
      flex: 1;
    }
  }

  .infoContent {
    padding: 1rem;

    &.expandable {
      padding-top: 0.5rem;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }

    ul {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // Summary states
  .summaryOpen {
    display: none;
  }

  .summaryClosed {
    display: flex;
    align-items: center;
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
    transition: v.$transition-base;
  }

  &[open] {
    summary {
      .summaryOpen {
        display: flex;
        align-items: center;
      }
      .summaryClosed {
        display: none;
      }
    }
  }

  hr {
    border: 0;
    border-top: 1px solid v.$color-border;
    margin: 1rem 0;
  }
}
