@use "../variables.scss" as v;
@use "sass:color";

@mixin infoBase {
  margin: 1rem 0 2rem;
  border: 1px solid v.$color-border;
  border-radius: v.$border-radius;
  padding: 0.5rem;
  background: v.$color-bg-light;
  font-size: 0.875rem;
}

@mixin infoSummary {
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 600;
  user-select: none;
  color: v.$color-text-light;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    color: v.$color-primary;
  }
}

@mixin infoContent {
  padding: 0 0.5rem;
}

@mixin infoSummaryStates {
  .summaryOpen {
    display: none;
  }

  .summaryClosed {
    .icon {
      transform: translate(-0.2rem, 0.1rem);
    }
  }

  &[open] {
    summary {
      .summaryOpen {
        display: block;
      }
      .summaryClosed {
        display: none;
      }
    }
  }
}

@mixin infoLink {
  color: v.$color-primary-dark;
  text-decoration: none;
  border-bottom: 1px solid v.$color-primary-dark;
  transition: all 0.2s ease;

  &:hover {
    border-bottom-color: transparent;
    color: color.adjust(v.$color-primary-dark, $lightness: -10%);
  }
}
