@use "./variables.scss" as v;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: v.$color-text;
  background: white;
}

// Basic element resets
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
  line-height: 1.2;
}

p {
  margin: 0 0 1rem;
}

ul {
  list-style: none;
    padding-left: 1.5rem;

    li {
      position: relative;
      margin-bottom: 0.4rem;

      &::before {
        content: "•";
        position: absolute;
        left: -1.5rem;
      }
    }

    &.list-reset {
      list-style: none;
      padding-left: 0;

      li {
        &::before {
          content: none;
          display: none;
        }
      }

    }
}

a {
  font-weight: 500;
  color: v.$color-primary-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
}
