.preview {
  margin: 2rem 0.5rem;
  position: relative;
  width: 100%;

  .previewTableContainer {
    overflow-x: auto;
    margin-top: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    -webkit-overflow-scrolling: touch;
    width: calc(100vw - 2rem);
    max-width: 1600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
